In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/bangalore-wards-2020-1-All-MonthlyAggregate.csv')

In [7]:
df[(df['sourceid'] == 1) & (df['month'] == 1)]

,sourceid,dstid,month,mean_travel_time,standard_deviation_travel_time,geometric_mean_travel_time,geometric_standard_deviation_travel_time
983,1,178,1,4657.14,1463.98,4428.96,1.38
1522,1,137,1,3408.94,1090.95,3232.75,1.39
1612,1,13,1,869.96,399.91,788.93,1.58
1682,1,95,1,3640.37,955.63,3517.78,1.30
1709,1,40,1,2470.15,645.92,2388.78,1.30
...,...,...,...,...,...,...,...
111791,1,107,1,3434.27,642.70,3377.04,1.20
111846,1,148,1,4157.41,800.91,4083.01,1.21
112175,1,134,1,3105.42,1009.28,2940.85,1.40
112211,1,92,1,3690.25,1160.97,3502.98,1.39
112541,1,88,1,2151.41,745.10,2026.42,1.42